@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --colors-spring-green-100: rgba(215, 255, 239, 1);
  --colors-spring-green-200: rgba(178, 255, 222, 1);
  --colors-spring-green-300: rgba(119, 254, 197, 1);
  --colors-spring-green-400: rgba(53, 243, 163, 1);
  --colors-spring-green-50: rgba(238, 255, 247, 1);
  --colors-spring-green-500: rgba(11, 229, 138, 1);
  --colors-spring-green-600: rgba(2, 183, 108, 1);
  --colors-spring-green-700: rgba(6, 143, 86, 1);
  --colors-spring-green-800: rgba(11, 112, 71, 1);
  --colors-spring-green-900: rgba(11, 92, 60, 1);
  --colors-spring-green-950: rgba(0, 52, 32, 1);
  --dark-02: rgba(40, 40, 40, 1);
  --dark-06: rgba(135, 135, 135, 1);
  --haiti-100: rgba(220, 220, 255, 1);
  --haiti-200: rgba(194, 192, 255, 1);
  --haiti-300: rgba(160, 154, 255, 1);
  --haiti-400: rgba(136, 114, 255, 1);
  --haiti-50: rgba(236, 236, 255, 1);
  --haiti-500: rgba(121, 81, 255, 1);
  --haiti-600: rgba(111, 49, 250, 1);
  --haiti-700: rgba(97, 37, 221, 1);
  --haiti-800: rgba(78, 33, 178, 1);
  --haiti-900: rgba(65, 35, 140, 1);
  --haiti-950: rgba(21, 11, 43, 1);
  --primitives-base-black: rgba(3, 7, 18, 1);
  --primitives-base-black-duplicate: rgba(3, 7, 18, 1);
  --primitives-base-visibility: initial;
  --primitives-base-visibility-duplicate: initial;
  --primitives-base-white: rgba(255, 255, 255, 1);
  --primitives-base-white-duplicate: rgba(255, 255, 255, 1);
  --primitives-info-100: rgba(214, 224, 255, 1);
  --primitives-info-100-duplicate: rgba(214, 224, 255, 1);
  --primitives-info-200: rgba(168, 189, 255, 1);
  --primitives-info-200-duplicate: rgba(168, 189, 255, 1);
  --primitives-info-300: rgba(128, 157, 255, 1);
  --primitives-info-300-duplicate: rgba(128, 157, 255, 1);
  --primitives-info-400: rgba(82, 122, 255, 1);
  --primitives-info-400-duplicate: rgba(82, 122, 255, 1);
  --primitives-info-50: rgba(235, 239, 255, 1);
  --primitives-info-50-duplicate: rgba(235, 239, 255, 1);
  --primitives-info-500: rgba(41, 91, 255, 1);
  --primitives-info-500-duplicate: rgba(41, 91, 255, 1);
  --primitives-info-600: rgba(0, 55, 235, 1);
  --primitives-info-600-duplicate: rgba(0, 55, 235, 1);
  --primitives-info-700: rgba(0, 42, 179, 1);
  --primitives-info-700-duplicate: rgba(0, 42, 179, 1);
  --primitives-info-800: rgba(0, 27, 117, 1);
  --primitives-info-800-duplicate: rgba(0, 27, 117, 1);
  --primitives-info-900: rgba(0, 14, 61, 1);
  --primitives-info-900-duplicate: rgba(0, 14, 61, 1);
  --primitives-info-950: rgba(0, 7, 31, 1);
  --primitives-info-950-duplicate: rgba(0, 7, 31, 1);
  --primitives-info-base: var(--primitives-info-500);
  --primitives-info-base-duplicate: var(--primitives-info-500-duplicate);
  --primitives-info-visibility: initial;
  --primitives-info-visibility-duplicate: initial;
  --primitives-negative-100: rgba(252, 217, 222, 1);
  --primitives-negative-100-duplicate: rgba(252, 217, 222, 1);
  --primitives-negative-200: rgba(250, 179, 189, 1);
  --primitives-negative-200-duplicate: rgba(250, 179, 189, 1);
  --primitives-negative-300: rgba(247, 140, 156, 1);
  --primitives-negative-300-duplicate: rgba(247, 140, 156, 1);
  --primitives-negative-400: rgba(245, 102, 122, 1);
  --primitives-negative-400-duplicate: rgba(245, 102, 122, 1);
  --primitives-negative-50: rgba(254, 236, 238, 1);
  --primitives-negative-50-duplicate: rgba(254, 236, 238, 1);
  --primitives-negative-500: rgba(242, 65, 90, 1);
  --primitives-negative-500-duplicate: rgba(242, 65, 90, 1);
  --primitives-negative-600: rgba(229, 16, 46, 1);
  --primitives-negative-600-duplicate: rgba(229, 16, 46, 1);
  --primitives-negative-700: rgba(172, 12, 34, 1);
  --primitives-negative-700-duplicate: rgba(172, 12, 34, 1);
  --primitives-negative-800: rgba(115, 8, 23, 1);
  --primitives-negative-800-duplicate: rgba(115, 8, 23, 1);
  --primitives-negative-900: rgba(57, 4, 11, 1);
  --primitives-negative-900-duplicate: rgba(57, 4, 11, 1);
  --primitives-negative-950: rgba(29, 2, 6, 1);
  --primitives-negative-950-duplicate: rgba(29, 2, 6, 1);
  --primitives-negative-base: var(--primitives-negative-500);
  --primitives-negative-base-duplicate: var(--primitives-negative-500-duplicate);
  --primitives-negative-visibility: initial;
  --primitives-negative-visibility-duplicate: initial;
  --primitives-neutral-100: rgba(230, 230, 233, 1);
  --primitives-neutral-100-duplicate: rgba(230, 230, 233, 1);
  --primitives-neutral-200: rgba(212, 213, 217, 1);
  --primitives-neutral-200-duplicate: rgba(212, 213, 217, 1);
  --primitives-neutral-300: rgba(191, 193, 199, 1);
  --primitives-neutral-300-duplicate: rgba(191, 193, 199, 1);
  --primitives-neutral-400: rgba(173, 176, 183, 1);
  --primitives-neutral-400-duplicate: rgba(173, 176, 183, 1);
  --primitives-neutral-50: rgba(247, 248, 248, 1);
  --primitives-neutral-50-duplicate: rgba(247, 248, 248, 1);
  --primitives-neutral-500: rgba(140, 143, 154, 1);
  --primitives-neutral-500-duplicate: rgba(140, 143, 154, 1);
  --primitives-neutral-600: rgba(102, 106, 121, 1);
  --primitives-neutral-600-duplicate: rgba(102, 106, 121, 1);
  --primitives-neutral-700: rgba(64, 69, 87, 1);
  --primitives-neutral-700-duplicate: rgba(64, 69, 87, 1);
  --primitives-neutral-800: rgba(51, 57, 76, 1);
  --primitives-neutral-800-duplicate: rgba(51, 57, 76, 1);
  --primitives-neutral-900: rgba(26, 32, 53, 1);
  --primitives-neutral-900-duplicate: rgba(26, 32, 53, 1);
  --primitives-neutral-950: rgba(0, 7, 31, 1);
  --primitives-neutral-950-duplicate: rgba(0, 7, 31, 1);
  --primitives-neutral-base: var(--primitives-neutral-500);
  --primitives-neutral-base-duplicate: var(--primitives-neutral-500-duplicate);
  --primitives-neutral-visibility: initial;
  --primitives-neutral-visibility-duplicate: initial;
  --primitives-positive-100: rgba(208, 245, 225, 1);
  --primitives-positive-100-duplicate: rgba(208, 245, 225, 1);
  --primitives-positive-200: rgba(162, 236, 194, 1);
  --primitives-positive-200-duplicate: rgba(162, 236, 194, 1);
  --primitives-positive-300: rgba(115, 226, 164, 1);
  --primitives-positive-300-duplicate: rgba(115, 226, 164, 1);
  --primitives-positive-400: rgba(69, 217, 133, 1);
  --primitives-positive-400-duplicate: rgba(69, 217, 133, 1);
  --primitives-positive-50: rgba(230, 250, 238, 1);
  --primitives-positive-50-duplicate: rgba(230, 250, 238, 1);
  --primitives-positive-500: rgba(39, 190, 105, 1);
  --primitives-positive-500-duplicate: rgba(39, 190, 105, 1);
  --primitives-positive-600: rgba(31, 152, 84, 1);
  --primitives-positive-600-duplicate: rgba(31, 152, 84, 1);
  --primitives-positive-700: rgba(23, 114, 63, 1);
  --primitives-positive-700-duplicate: rgba(23, 114, 63, 1);
  --primitives-positive-800: rgba(16, 76, 42, 1);
  --primitives-positive-800-duplicate: rgba(16, 76, 42, 1);
  --primitives-positive-900: rgba(8, 38, 21, 1);
  --primitives-positive-900-duplicate: rgba(8, 38, 21, 1);
  --primitives-positive-950: rgba(3, 17, 9, 1);
  --primitives-positive-950-duplicate: rgba(3, 17, 9, 1);
  --primitives-positive-base: var(--primitives-positive-500);
  --primitives-positive-base-duplicate: var(--primitives-positive-500-duplicate);
  --primitives-positive-visibility: initial;
  --primitives-positive-visibility-duplicate: initial;
  --primitives-primary-100: rgba(214, 224, 255, 1);
  --primitives-primary-100-duplicate: rgba(214, 224, 255, 1);
  --primitives-primary-200: rgba(168, 189, 255, 1);
  --primitives-primary-200-duplicate: rgba(168, 189, 255, 1);
  --primitives-primary-300: rgba(128, 157, 255, 1);
  --primitives-primary-300-duplicate: rgba(128, 157, 255, 1);
  --primitives-primary-400: rgba(82, 122, 255, 1);
  --primitives-primary-400-duplicate: rgba(82, 122, 255, 1);
  --primitives-primary-50: rgba(235, 239, 255, 1);
  --primitives-primary-50-duplicate: rgba(235, 239, 255, 1);
  --primitives-primary-500: rgba(41, 91, 255, 1);
  --primitives-primary-500-duplicate: rgba(41, 91, 255, 1);
  --primitives-primary-600: rgba(0, 55, 235, 1);
  --primitives-primary-600-duplicate: rgba(0, 55, 235, 1);
  --primitives-primary-700: rgba(0, 42, 179, 1);
  --primitives-primary-700-duplicate: rgba(0, 42, 179, 1);
  --primitives-primary-800: rgba(0, 27, 117, 1);
  --primitives-primary-800-duplicate: rgba(0, 27, 117, 1);
  --primitives-primary-900: rgba(0, 14, 61, 1);
  --primitives-primary-900-duplicate: rgba(0, 14, 61, 1);
  --primitives-primary-950: rgba(0, 7, 31, 1);
  --primitives-primary-950-duplicate: rgba(0, 7, 31, 1);
  --primitives-primary-base: var(--primitives-primary-500);
  --primitives-primary-base-duplicate: var(--primitives-primary-500-duplicate);
  --primitives-primary-visibility: initial;
  --primitives-primary-visibility-duplicate: initial;
  --primitives-quaternary-100: rgba(0, 0, 0, 1);
  --primitives-quaternary-100-duplicate: rgba(0, 0, 0, 1);
  --primitives-quaternary-200: rgba(0, 0, 0, 1);
  --primitives-quaternary-200-duplicate: rgba(0, 0, 0, 1);
  --primitives-quaternary-300: rgba(0, 0, 0, 1);
  --primitives-quaternary-300-duplicate: rgba(0, 0, 0, 1);
  --primitives-quaternary-400: rgba(0, 0, 0, 1);
  --primitives-quaternary-400-duplicate: rgba(0, 0, 0, 1);
  --primitives-quaternary-50: rgba(0, 0, 0, 1);
  --primitives-quaternary-50-duplicate: rgba(0, 0, 0, 1);
  --primitives-quaternary-500: rgba(0, 0, 0, 1);
  --primitives-quaternary-500-duplicate: rgba(0, 0, 0, 1);
  --primitives-quaternary-600: rgba(0, 0, 0, 1);
  --primitives-quaternary-600-duplicate: rgba(0, 0, 0, 1);
  --primitives-quaternary-700: rgba(0, 0, 0, 1);
  --primitives-quaternary-700-duplicate: rgba(0, 0, 0, 1);
  --primitives-quaternary-800: rgba(0, 0, 0, 1);
  --primitives-quaternary-800-duplicate: rgba(0, 0, 0, 1);
  --primitives-quaternary-900: rgba(0, 0, 0, 1);
  --primitives-quaternary-900-duplicate: rgba(0, 0, 0, 1);
  --primitives-quaternary-950: rgba(0, 0, 0, 1);
  --primitives-quaternary-950-duplicate: rgba(0, 0, 0, 1);
  --primitives-quaternary-base: var(--primitives-quaternary-500);
  --primitives-quaternary-base-duplicate: var(--primitives-quaternary-500-duplicate);
  --primitives-quaternary-visibility: initial;
  --primitives-quaternary-visibility-duplicate: initial;
  --primitives-secondary-100: rgba(255, 225, 214, 1);
  --primitives-secondary-100-duplicate: rgba(255, 225, 214, 1);
  --primitives-secondary-200: rgba(255, 191, 168, 1);
  --primitives-secondary-200-duplicate: rgba(255, 191, 168, 1);
  --primitives-secondary-300: rgba(255, 161, 128, 1);
  --primitives-secondary-300-duplicate: rgba(255, 161, 128, 1);
  --primitives-secondary-400: rgba(255, 128, 82, 1);
  --primitives-secondary-400-duplicate: rgba(255, 128, 82, 1);
  --primitives-secondary-50: rgba(255, 240, 235, 1);
  --primitives-secondary-50-duplicate: rgba(255, 240, 235, 1);
  --primitives-secondary-500: rgba(255, 98, 41, 1);
  --primitives-secondary-500-duplicate: rgba(255, 98, 41, 1);
  --primitives-secondary-600: rgba(235, 62, 0, 1);
  --primitives-secondary-600-duplicate: rgba(235, 62, 0, 1);
  --primitives-secondary-700: rgba(179, 48, 0, 1);
  --primitives-secondary-700-duplicate: rgba(179, 48, 0, 1);
  --primitives-secondary-800: rgba(117, 31, 0, 1);
  --primitives-secondary-800-duplicate: rgba(117, 31, 0, 1);
  --primitives-secondary-900: rgba(61, 16, 0, 1);
  --primitives-secondary-900-duplicate: rgba(61, 16, 0, 1);
  --primitives-secondary-950: rgba(31, 8, 0, 1);
  --primitives-secondary-950-duplicate: rgba(31, 8, 0, 1);
  --primitives-secondary-base: var(--primitives-secondary-500);
  --primitives-secondary-base-duplicate: var(--primitives-secondary-500-duplicate);
  --primitives-secondary-visibility: initial;
  --primitives-secondary-visibility-duplicate: initial;
  --primitives-tertiary-100: rgba(0, 0, 0, 1);
  --primitives-tertiary-100-duplicate: rgba(244, 255, 214, 1);
  --primitives-tertiary-200: rgba(0, 0, 0, 1);
  --primitives-tertiary-200-duplicate: rgba(232, 255, 168, 1);
  --primitives-tertiary-300: rgba(0, 0, 0, 1);
  --primitives-tertiary-300-duplicate: rgba(221, 255, 128, 1);
  --primitives-tertiary-400: rgba(0, 0, 0, 1);
  --primitives-tertiary-400-duplicate: rgba(209, 255, 82, 1);
  --primitives-tertiary-50: rgba(0, 0, 0, 1);
  --primitives-tertiary-50-duplicate: rgba(250, 255, 235, 1);
  --primitives-tertiary-500: rgba(0, 0, 0, 1);
  --primitives-tertiary-500-duplicate: rgba(198, 255, 41, 1);
  --primitives-tertiary-600: rgba(0, 0, 0, 1);
  --primitives-tertiary-600-duplicate: rgba(172, 235, 0, 1);
  --primitives-tertiary-700: rgba(0, 0, 0, 1);
  --primitives-tertiary-700-duplicate: rgba(131, 179, 0, 1);
  --primitives-tertiary-800: rgba(0, 0, 0, 1);
  --primitives-tertiary-800-duplicate: rgba(86, 117, 0, 1);
  --primitives-tertiary-900: rgba(0, 0, 0, 1);
  --primitives-tertiary-900-duplicate: rgba(45, 61, 0, 1);
  --primitives-tertiary-950: rgba(0, 0, 0, 1);
  --primitives-tertiary-950-duplicate: rgba(22, 31, 0, 1);
  --primitives-tertiary-base: var(--primitives-tertiary-500);
  --primitives-tertiary-base-duplicate: var(--primitives-tertiary-500-duplicate);
  --primitives-tertiary-visibility: initial;
  --primitives-tertiary-visibility-duplicate: initial;
  --primitives-warning-100: rgba(255, 243, 209, 1);
  --primitives-warning-100-duplicate: rgba(255, 243, 209, 1);
  --primitives-warning-200: rgba(255, 229, 158, 1);
  --primitives-warning-200-duplicate: rgba(255, 229, 158, 1);
  --primitives-warning-300: rgba(255, 217, 112, 1);
  --primitives-warning-300-duplicate: rgba(255, 217, 112, 1);
  --primitives-warning-400: rgba(255, 203, 61, 1);
  --primitives-warning-400-duplicate: rgba(255, 203, 61, 1);
  --primitives-warning-50: rgba(255, 248, 229, 1);
  --primitives-warning-50-duplicate: rgba(255, 248, 229, 1);
  --primitives-warning-500: rgba(255, 191, 15, 1);
  --primitives-warning-500-duplicate: rgba(255, 191, 15, 1);
  --primitives-warning-600: rgba(214, 157, 0, 1);
  --primitives-warning-600-duplicate: rgba(214, 157, 0, 1);
  --primitives-warning-700: rgba(163, 120, 0, 1);
  --primitives-warning-700-duplicate: rgba(163, 120, 0, 1);
  --primitives-warning-800: rgba(107, 79, 0, 1);
  --primitives-warning-800-duplicate: rgba(107, 79, 0, 1);
  --primitives-warning-900: rgba(56, 41, 0, 1);
  --primitives-warning-900-duplicate: rgba(56, 41, 0, 1);
  --primitives-warning-950: rgba(26, 19, 0, 1);
  --primitives-warning-950-duplicate: rgba(26, 19, 0, 1);
  --primitives-warning-base: var(--primitives-warning-500);
  --primitives-warning-base-duplicate: var(--primitives-warning-500-duplicate);
  --primitives-warning-visibility: initial;
  --primitives-warning-visibility-duplicate: initial;
  --spring-green100: rgba(215, 255, 239, 1);
  --spring-green200: rgba(178, 255, 222, 1);
  --spring-green300: rgba(119, 254, 197, 1);
  --spring-green400: rgba(53, 243, 163, 1);
  --spring-green50: rgba(238, 255, 247, 1);
  --spring-green500: rgba(11, 229, 138, 1);
  --spring-green600: rgba(2, 183, 108, 1);
  --spring-green700: rgba(6, 143, 86, 1);
  --spring-green800: rgba(11, 112, 71, 1);
  --spring-green900: rgba(11, 92, 60, 1);
  --spring-green950: rgba(0, 52, 32, 1);
}
